<section id="todoapp">
    <header id="header"></header>
    <section id="main"></section>
    <footer id="footer"></footer>
</section>
<footer id="info">
    <p>{{gtt "Double-click to edit a todo" }}</p>
    <p>Written by <a href="https://github.com/JSteunou">Jérôme Steunou</a>
        based on <a href="https://github.com/addyosmani">Addy Osmani TodoMVC project</a><br>
        and the <a href="http://todomvc.com/labs/architecture-examples/backbone_marionette/">Marionette TodoMVC</a>
        created by <a href="http://github.com/jsoverson">Jarrod Overson</a>
        and <a href="http://github.com/derickbailey">Derick Bailey</a>
    </p>
</footer>
