<section id="todoapp">
    <header id="header"></header>
    <section id="main"></section>
    <footer id="footer"></footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="https://github.com/JSteunou">Jérôme Steunou</a> based on <a href="https://github.com/addyosmani">Addy Osmani TodoMVC project</a></p>
</footer>