#todoapp.filter-active #todo-list .completed,
#todoapp.filter-completed #todo-list .active {
    display: none;
}

#main,
#footer {
    display: none;
}

#todoapp.filter-all #filters li a[href="#"],
#todoapp.filter-active #filters li a[href="#active"],
#todoapp.filter-completed #filters li a[href="#completed"] {
    font-weight: bold;
}
